<div class="container-fluid">  
  <div class="navbar navbar-expand-lg navbar-light bg-light mb-5">
    <div class="container">      
        <a class="navbar-brand media" routerLinkActive="active" routerLink="/" > Neoaleatório</a>      
      <ul class="nav nav-pills">
        <li class="nav-item ">
          <a class="nav-link " routerLinkActive="active" routerLink="/privacy">Privacidade</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/terms">Termos e Condições</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="container m-10">
    <router-outlet></router-outlet>
  </div>
</div>